[access]
	inheritFrom = Public-Plugins
[submit]
	action = inherit
[access "refs/*"]
	owner = group plugins-pull-replication
	push = group plugins-pull-replication
	label-Code-Review = -2..+2 group plugins-pull-replication
	label-Verified = -1..+1 group plugins-pull-replication
[project]
	description = Mirror repos from other servers using the Git protocol
