[access]
	inheritFrom = Public-Plugins
[submit]
	action = inherit
[project]
	description = Mirror repos from other servers using the Git protocol
[access "refs/heads/*"]
	create = block group plugins-pull-replication
	label-Code-Review = block -2..+2 group plugins-pull-replication
	label-Verified = block -1..+1 group plugins-pull-replication
	owner = block group plugins-pull-replication
	push = block group plugins-pull-replication
