[remote "primary"]
    url = http://gerrit1:8080/${name}.git
    apiUrl = http://gerrit1:8080
    fetch = +refs/*:refs/*
    mirror = true
    timeout = 600
    rescheduleDelay = 15
    replicationDelay = 0
    createMissingRepositories = true
    replicateProjectDeletions = true
    replicateHiddenProjects = true
    tagopt= --no-tags